In [2]:
import pandas as pd
import numpy as np
import ast

In [2]:
listings = pd.read_csv('tabular_data/listing.csv')
listings.head(4)

,ID,Category,Title,Description,Amenities,Location,guests,beds,bathrooms,Price_Night,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,url,bedrooms,Unnamed: 19
0,f9dcbd09-32ac-41d9-a0b1-fdb2793378cf,Treehouses,Red Kite Tree Tent - Ynys Affalon,"['About this space', ""Escape to one of these t...","['What this place offers', 'Bathroom', 'Shampo...",Llandrindod Wells United Kingdom,2,1.0,1.0,105,4.6,4.7,4.3,5.0,4.3,4.3,13.0,https://www.airbnb.co.uk/rooms/26620994?adults...,NaN,NaN
1,1b4736a7-e73e-45bc-a9b5-d3e7fcf652fd,Treehouses,Az Alom Cabin - Treehouse Tree to Nature Cabin,"['About this space', ""Come and spend a romanti...","['What this place offers', 'Bedroom and laundr...",Guyonvelle Grand Est France,3,3.0,0.0,92,4.3,4.7,4.6,4.9,4.7,4.5,8.0,https://www.airbnb.co.uk/rooms/27055498?adults...,1,NaN
2,d577bc30-2222-4bef-a35e-a9825642aec4,Treehouses,Cabane Entre Les Pins\nüå≤üèïÔ∏èüå≤,"['About this space', 'Rustic cabin between the...","['What this place offers', 'Scenic views', 'Ga...",Duclair Normandie France,4,2.0,1.5,52,4.2,4.6,4.8,4.8,4.8,4.7,51.0,https://www.airbnb.co.uk/rooms/51427108?adults...,1,NaN
3,ca9cbfd4-7798-4e8d-8c17-d5a64fba0abc,Treehouses,Tree Top Cabin with log burner & private hot tub,"['About this space', 'The Tree top cabin is si...","['What this place offers', 'Bathroom', 'Hot wa...",Barmouth Wales United Kingdom,2,NaN,1.0,132,4.8,4.9,4.9,4.9,5.0,4.6,23.0,https://www.airbnb.co.uk/rooms/49543851?adults...,NaN,NaN

In [3]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988 entries, 0 to 987
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    988 non-null    object
 1   Category              988 non-null    object
 2   Title                 988 non-null    object
 3   Description           900 non-null    object
 4   Amenities             988 non-null    object
 5   Location              988 non-null    object
 6   guests                969 non-null    object
 7   beds                  945 non-null    float64
 8   bathrooms             888 non-null    float64
 9   Price_Night           988 non-null    int64
 10  Cleanliness_rating    890 non-null    float64
 11  Accuracy_rating       890 non-null    float64
 12  Communication_rating  890 non-null    float64
 13  Location_rating       890 non-null    float64
 14  Check-in_rating       890 non-null    float64
 15  Value_rating          890 non-null    float64
 16  amenities_count       988 non-null    float64
 17  url                   988 non-null    object
 18  bedrooms              906 non-null    object
 19  Unnamed: 19           1 non-null      float64
dtypes: float64(10), int64(1), object(9)
memory usage: 154.5+ KB

In [4]:
#
listings.sample(3)

,ID,Category,Title,Description,Amenities,Location,guests,beds,bathrooms,Price_Night,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,url,bedrooms,Unnamed: 19
610,82552518-76e8-4f59-a827-36d039be2674,Amazing pools,Bramble Pye - New Converted Barn In The New Fo...,"['About this space', 'Rob & Claire welcome you...","['What this place offers', 'Scenic views', 'Co...",Plaitford England United Kingdom,8,5.0,2.0,164,4.8,4.8,4.7,4.8,4.9,4.5,50.0,https://www.airbnb.co.uk/rooms/49010468?adults...,3,NaN
113,3b7f1be9-736c-4a6d-a2af-e4a50e5dde3a,Treehouses,Eagles Nest Tree House,"['About this space', 'Come stay in your very o...","['What this place offers', 'Bathroom', 'Hair d...",Shenandoah Virginia United States,4,3.0,1.5,199,5.0,5.0,5.0,4.9,5.0,4.8,35.0,https://www.airbnb.co.uk/rooms/41558082?adults...,1,NaN
343,35790b8c-ab34-4b96-b191-d90ab0655945,Chalets,Idyllic Shepherd's Hut near Chieveley,"['About this space', ""One of the top 30 quirky...","['What this place offers', 'Bathroom', 'Hair d...",Newbury Berksire United Kingdom,2,1.0,1.0,66,5.0,5.0,5.0,5.0,5.0,4.9,41.0,https://www.airbnb.co.uk/rooms/13215026?adults...,1,NaN

In [174]:
listings = listings.dropna(subset=['Description'])
listings = listings.drop('Unnamed: 19', axis=1)
listings = listings.dropna(subset=['Value_rating'])

In [10]:
ss[ss['bathrooms'] == 10.]

,ID,Category,Title,Description,Amenities,Location,guests,beds,bathrooms,Price_Night,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,url,bedrooms
586,fcc99396-853b-4b85-aa11-2018acd1d2ee,Offbeat,Atlantis Villa @ A'Famosa,The Leisure Beez resort at A‚ÄòFamosa in Alor Ga...,Bathroom. Hair dryer. Shampoo. Bedroom and lau...,Alor Gajah Melaka Malaysia,16,17.0,10.0,278,4.5,4.3,4.4,4.6,4.8,4.4,12.0,https://www.airbnb.co.uk/rooms/49578362?adults...,10

In [176]:
listings = listings.dropna(subset=['Description'])
listings.loc[listings['ID'].str.contains('4c917b3c-d693-4ee4-a321-f5babc728dc9'), 'Description'] = "['Sleeps 6 with pool.']"
listings['Description'] = listings['Description'].apply(ast.literal_eval)
listings['Description'] = listings['Description'].apply(lambda x: [item for item in x if item != 'About this space'])
listings['Description'] = listings['Description'].apply(lambda x: [item for item in x if item != 'The space'])
listings['Description'] = listings['Description'].apply(lambda x: [item for item in x if item != 'Other things to note'])
listings['Description'] = listings['Description'].apply(lambda x: [item for item in x if item != 'Guest access'])
listings['Description'] = listings['Description'].apply(lambda x: [item for item in x if item != ''])
listings['Description'] = listings['Description'].apply(lambda x: ' '.join(x) if isinstance(x, list) else x)

#listings['Description'] = listings['Description'].apply(lambda x: ' '.join(x))

In [178]:
default_value = 1
features = ["guests", "beds", "bathrooms", "bedrooms"]

for feature in features:
    listings[feature] = listings[feature].fillna(default_value)

In [11]:
listings['beds'].unique()

NameError: name 'listings' is not defined

In [196]:
listings['Description'][111]

'www . valterria . com\n\nThe Totem Houses of Valterria are located in the Valterria Adventure Park located in the privileged environment of the Merindades.\n\nImagine sleeping among trees, jumping on zip lines, taking a ride on our ebikes, enjoying the sunset on your terrace with unique views. You can enjoy the tranquility of the rural world and immerse yourself in countless adventures. The space\nTreehouse, located in the forest of the Valterr√≠a adventure park.\nIts hexagonal shape accommodates two people, with the possibility of a double bed or two single beds.\nIt has a toilet and a shower.\nThe terrace of this cabin has east orientation. Guest access\nAn adventure park at your feet:\n\n- Climbing, zip lines and jumping in a single tower of 24 meters high. Climb up its climbing and climbing tracks or from the stairs inside. An adrenaline monster through which to access the circuits of high rope bridges.\n\n- Hanging bridges. It runs 18 extra long bridges at 11 meters high through the canopies of an oak forest.\n\n- Giant zip line. Jump and slide along the large double zip line of 300 meters in length.\n\n- Enchanted forest of molars. Turn on your imagination thanks to a circuit built between giant rocks joined by bridges and with different challenges.\n\n- Cafeteria. Skewers, rations or some dishes that come out of our kitchen‚Ä¶ In a family atmosphere and with the best views of the Merindad.\n\n- Food Truck. Come and see our Foodtruck mounted on the chassis of an old bus that will delight young and old. In the you can enjoy our pizzas and focattias with a wide variety of ingredients, waffles, creps, ice cream and much more in our adventure atmosphere.\n\nwww . valterria . com'

In [3]:
ss = pd.read_csv('tabular_data/clean_tabular_data.csv')
ss.sample(3)

,ID,Category,Title,Description,Amenities,Location,guests,beds,bathrooms,Price_Night,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,url,bedrooms
272,5298baa9-291f-4b1d-af66-b846988a9d8b,Chalets,Beautiful barn in the hills and woods nr Brighton,"Idyllically situated down a quiet, magical lan...",Scenic views. Garden view. Bathroom. Hair drye...,Hurstpierpoint England United Kingdom,6,3.0,1.5,187,5.0,5.0,5.0,5.0,5.0,4.8,30.0,https://www.airbnb.co.uk/rooms/25128066?adults...,2
346,dce305f8-b14b-47dd-84f8-f6e734d0332a,Chalets,Snowdonia Shepherds Hut + Hot Tub FIVE STAR*****,The Shepherds Hut is situated alongside the fa...,Bathroom. Hot water. Bedroom and laundry. Esse...,Gwynedd Wales United Kingdom,2,1.0,1.0,222,4.8,4.9,4.9,5.0,4.9,4.6,17.0,https://www.airbnb.co.uk/rooms/23944194?adults...,1
110,350fa320-bfd5-410f-94ea-07c93c21b09f,Treehouses,La Cabins de Luca,The hut perched in the 21st century in the par...,Bathroom. Hair dryer. Cleaning products. Outdo...,Vinezac Rh√¥ne-Alpes France,2,1.0,1.0,92,4.9,4.8,4.8,4.9,4.9,4.8,32.0,https://www.airbnb.co.uk/rooms/5216360?adults=...,1

In [22]:
ss['bedrooms'].unique()

array([ 1,  2,  5,  3,  4,  8,  6, 10,  7], dtype=int64)

In [33]:
def load_airbnb(label):
    
    '''The function "load_airbnb" loads a clean tabular dataset from a CSV file and separates the numerical
    features from the labels.
    
    Parameters
    ----------
    label
        The label parameter is the column name of the target variable in the dataset. It represents the
    variable that we want to predict or classify.
    
    Returns
    -------
        two values: num_features and labels.
    
    '''
    
    clean_data = pd.read_csv('tabular_data/clean_tabular_data.csv')

    num_columns = clean_data.select_dtypes(exclude=['object']).columns

    num_features = clean_data[num_columns].drop(columns=[label])

    labels = pd.DataFrame(clean_data[label], columns=[label])


    return num_features, labels

x = load_airbnb('Price_Night')
x

(     guests  beds  bathrooms  Cleanliness_rating  Accuracy_rating  \
 0         2   1.0        1.0                 4.6              4.7
 1         3   3.0        0.0                 4.3              4.7
 2         4   2.0        1.5                 4.2              4.6
 3         2   1.0        1.0                 4.8              4.9
 4         4   3.0        1.0                 5.0              4.9
 ..      ...   ...        ...                 ...              ...
 824       4   2.0        1.5                 4.9              5.0
 825       2   1.0        1.0                 4.8              5.0
 826       4   2.0        1.5                 4.8              5.0
 827       6   3.0        2.0                 4.7              4.8
 828       4   2.0        1.0                 4.9              4.9

      Communication_rating  Location_rating  Check-in_rating  Value_rating  \
 0                     4.3              5.0              4.3           4.3
 1                     4.6              4.9              4.7           4.5
 2                     4.8              4.8              4.8           4.7
 3                     4.9              4.9              5.0           4.6
 4                     5.0              4.7              5.0           4.7
 ..                    ...              ...              ...           ...
 824                   5.0              5.0              4.9           4.8
 825                   4.9              4.9              5.0           4.9
 826                   5.0              5.0              5.0           4.8
 827                   5.0              5.0              5.0           4.7
 828                   4.9              4.9              4.9           4.3

      amenities_count  bedrooms
 0               13.0         1
 1                8.0         1
 2               51.0         1
 3               23.0         1
 4               32.0         2
 ..               ...       ...
 824             33.0         2
 825             54.0         1
 826             38.0         2
 827             24.0         2
 828             29.0         2

 [829 rows x 11 columns],
      Price_Night
 0            105
 1             92
 2             52
 3            132
 4            143
 ..           ...
 824          240
 825           78
 826          113
 827           80
 828          104

 [829 rows x 1 columns])

In [34]:
ss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829 entries, 0 to 828
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    829 non-null    object
 1   Category              829 non-null    object
 2   Title                 829 non-null    object
 3   Description           829 non-null    object
 4   Amenities             829 non-null    object
 5   Location              829 non-null    object
 6   guests                829 non-null    int64
 7   beds                  829 non-null    float64
 8   bathrooms             829 non-null    float64
 9   Price_Night           829 non-null    int64
 10  Cleanliness_rating    829 non-null    float64
 11  Accuracy_rating       829 non-null    float64
 12  Communication_rating  829 non-null    float64
 13  Location_rating       829 non-null    float64
 14  Check-in_rating       829 non-null    float64
 15  Value_rating          829 non-null    float64
 16  amenities_count       829 non-null    float64
 17  url                   829 non-null    object
 18  bedrooms              829 non-null    int64
dtypes: float64(9), int64(3), object(7)
memory usage: 123.2+ KB

In [38]:
def load_airbnb(label):
    clean_data = pd.read_csv('tabular_data/clean_tabular_data.csv')

    num_columns = clean_data.select_dtypes(exclude=['object']).columns

    num_features = clean_data[num_columns].drop(columns=[label])

    labels = pd.DataFrame(clean_data[label], columns=[label])    
    
    return (num_features, labels)
    
load_airbnb('Price_Night')

(     guests  beds  bathrooms  Cleanliness_rating  Accuracy_rating  \
 0         2   1.0        1.0                 4.6              4.7
 1         3   3.0        0.0                 4.3              4.7
 2         4   2.0        1.5                 4.2              4.6
 3         2   1.0        1.0                 4.8              4.9
 4         4   3.0        1.0                 5.0              4.9
 ..      ...   ...        ...                 ...              ...
 824       4   2.0        1.5                 4.9              5.0
 825       2   1.0        1.0                 4.8              5.0
 826       4   2.0        1.5                 4.8              5.0
 827       6   3.0        2.0                 4.7              4.8
 828       4   2.0        1.0                 4.9              4.9

      Communication_rating  Location_rating  Check-in_rating  Value_rating  \
 0                     4.3              5.0              4.3           4.3
 1                     4.6              4.9              4.7           4.5
 2                     4.8              4.8              4.8           4.7
 3                     4.9              4.9              5.0           4.6
 4                     5.0              4.7              5.0           4.7
 ..                    ...              ...              ...           ...
 824                   5.0              5.0              4.9           4.8
 825                   4.9              4.9              5.0           4.9
 826                   5.0              5.0              5.0           4.8
 827                   5.0              5.0              5.0           4.7
 828                   4.9              4.9              4.9           4.3

      amenities_count  bedrooms
 0               13.0         1
 1                8.0         1
 2               51.0         1
 3               23.0         1
 4               32.0         2
 ..               ...       ...
 824             33.0         2
 825             54.0         1
 826             38.0         2
 827             24.0         2
 828             29.0         2

 [829 rows x 11 columns],
      Price_Night
 0            105
 1             92
 2             52
 3            132
 4            143
 ..           ...
 824          240
 825           78
 826          113
 827           80
 828          104

 [829 rows x 1 columns])